<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Humble Habit Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="font-semibold">Halo?</h1>
  <h1 class="font-light">Oriana jest super?</h1>
  <div class="m-8 h-10 w-10 bg-indigo-400 rounded"></div>
  <div class="px-4">
    <habit-add class="w-full"></habit-add>
  </div>


</ion-content>
